#container-register {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        width: 80%;

        .field {
            > input, textarea {
                box-sizing: border-box;
            }

            .button {
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
}