@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');
html,
body,
#app,
main.container {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
}

.back-link {
  text-decoration: none;
  color: #333;
  > i.icon::before {
      margin-right: .5rem;
  }
}

.separator {
  border-left: 1px solid #333;
  margin: 0 .5rem;
}